<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8; X-Content-Type-Options=nosniff"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <% include ../partials/header %>
    <h1>Index <%= user %></h1>
    <% include ../partials/footer %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/../views/static/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
